<div class="fold fold-top">
  <div class="fold-align">
    <div class="fold-content">

      <!-- // Identico en todos -->

      <div class="square green"></div>
      <div class="header">
        <h1 class="header__title">portfolio</h1>
        <h2 class="header__subtitle">maite villar latasa</h2>
        <h3 class="header__subtitle--1">Intersecting between business, design and code</h3>
      </div>
      <div class="square blue">
        <p class="content">Experiencia académica y profesional en el ámbito de la empresa, el diseño y actualmente el desarrollo web. Los estudios realizados del grado en 'Liderazgo, Emprendizaje e Innovación' y el master en 'Diseño para Futuros Emergentes' basados en el modelo “aprender haciendo” me han permitido experimentar entre lo práctico y lo conceptual proporcionándome una visión más holística del trabajo y las empresas.<br>

        Esta manera de aprender me ha aportado habilidades para desenvolverme bien en equipos de trabajo,  entender nuevas dinámicas y tener una adaptación y aprendizaje rápido. <br>
          
        Actualmente me encuentro desarrollando mi carrera como front-end para trabajar competencias que me permitan acompañar a las empresas a transicionar hacia el mundo digital de manera estratégica y responsable.
        </p>
      </div>
      <h1>This your my content</h1>
      <div class="square red"></div>

      <!-- // Hasta aqui -->

    </div>
  </div>
</div>