<div class="fold fold-top">
    <div class="fold-align">
      <div class="fold-content">

<!-- // Identico en todos -->

        <div class="square green"></div>
              <div class="header">
              <h1 class="header__title">portfolio</h1>
              <h2 class="header__subtitle">maite villar latasa</h2>
              <h3 class="header__subtitle--1">Intersecting between business, design and code</h3>
          </div>
        <div class="square blue">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet ipsum, ipsam quis, minus nihil facilis, officiis quo consequuntur necessitatibus quasi. Dicta officia aperiam laboriosam qui? Odio sed laboriosam quisquam.</p>
        </div> 
        <h1>This your my content</h1>
        <div class="square red"></div>

<!-- // Hasta aqui -->

      </div>
    </div>
  </div>