<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio - Maite Villar</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="screen " id="fold-effect">
      <div class="wrapper-3d">
        <partial src="_fold-top.html" label="Top"></partial>
        <partial src="_fold-medium.html" label="Medium"></partial>
        <partial src="_fold-bottom.html" label="Bottom"></partial>
      </div>
    </div>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
