<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio - Maite Villar</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="screen " id="fold-effect">
      <div class="home">HOME</div>
      <div class="wrapper-3d">
        <partial src="_fold-top.html" label="Top"></partial>
        <partial src="_fold-medium.html" label="Medium"></partial>
        <partial src="_fold-bottom.html" label="Bottom"></partial>
      </div>
      <partial src="_navigation.html" label="Navigation"></partialsrc></partial>
    </div>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
