.header__title{
    font-size: 85px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
  
  .header__subtitle{
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
  }
  
  .header__subtitle--1{
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
  }
  